<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>条件&循环</title>
    </head>
    <body>
        <div v-scope>
            <button @click="open = !open">toggle</button>
            <div v-if="open">open</div>
            <div v-else>close</div>
            <ul>
                <li v-for="item of list">{{item.name}}</li>
            </ul>
        </div>
        <script>
            function checkAttr(el, name) {
                const val = el.getAttribute(name);
                if (val != null) {
                    el.removeAttribute(name);
                }
                return val;
            }
            function createFunc(exp) {
                return new Function(`scope`, `with(scope) { return (${exp}) }`);
            }
            const RE = /{{([^]+?)}}/g;
            function walk(node, context) {
                const { nodeType } = node;
                if (nodeType === 1) { // Element
                    let exp;
                    if ((exp = checkAttr(node, 'v-if'))) {
                        return _if(node, exp, context);
                    }
                    if ((exp = checkAttr(node, 'v-for'))) {
                        return _for(node, exp, context);
                    }
                    walkChildren(node, context);
                }
                if (nodeType === 3) { // Text
                    const text = node.textContent;
                    let i = 0;
                    if (text.includes('{{')) {
                        let match = null;
                        const segments = []; // 保存所有截断的文本
                        while ((match = RE.exec(text))) {
                            segments.push(text.slice(i, match.index));
                            i = match.index + match[0].length;
                            const exp = match[1].trim(); // 删除表达式前后的空白字符
                            segments.push(exp);
                        }
                       
                        segments.push(text.slice(i));
                        node.textContent = '';
                        context.effect(() => {
                            node.textContent = createFunc(segments.filter(Boolean).join('+'))(context.scope);
                        });
                    }
                    return;
                }
                const dirRE = /^(@|:|v-)/;
                // 先递归解析子节点，然后解析node自己的属性
                for (const { name, value } of [...node.attributes]) {
                    if (dirRE.test(name)) { // 以@/:/v-开头
                        processDirective(node, name, value, context);
                    }
                }
            }
            // [A-Za-z_$]：字母(大小写)下划线或者$开头，也就是js变量名开头的规则
            // [\w$]*：变量名开头之后，后面可以跟字母、数字、下划线、$，重复0次或者多次
            // \.[A-Za-z_$][\w$]*|\['[^']*?']|\["[^"]*?"]|\[\d+]|\[[A-Za-z_$][\w$]*]：一个分组，里面又分为下面5种情况
            // \.[A-Za-z_$][\w$]*：【.】开头，后面是合法的js标识符
            // \['[^']*?']：匹配['xxxx']，[^']匹配除了单引号的所有字符
            // \["[^"]*?"]：匹配["xxxx"]
            // \[\d+]：匹配[123]
            // \[[A-Za-z_$][\w$]*]：匹配合法的js标识符
            // 综上所述，simplePathRE也就是匹配调用scope中存在的方法，例如:foo、scope.foo、scope['foo']
            const simplePathRE = /^[A-Za-z_$][\w$]*(?:\.[A-Za-z_$][\w$]*|\['[^']*?']|\["[^"]*?"]|\[\d+]|\[[A-Za-z_$][\w$]*])*$/;
            function on({ el, get, exp, arg, modifiers }) {
                if (!arg) { // 对于事件指令来说，必须要有指令参数，即事件名称才是合法的
                    console.error(`v-on="obj" syntax is not supported in petite-vue.`);
                    return;
                }
                let handler = simplePathRE.test(exp)
                    ? get(`(e => ${exp}(e))`) /*直接调用的是scope中的方法*/
                    : get(`($event => { ${exp} })`) /*行内js语句，需要被包裹在函数中再执行*/;
                if (modifiers) {
                   // 暂时省略对修饰符的处理
                }
                el.addEventListener(arg, handler, false);
            }
            function _for(el, exp, ctx) {
                
            }
            let activeBranchIndex = -1;
            let activeBranchEl = null;
            function _if(el, exp, ctx) {
                if (!exp.trim()) {
                    console.warn(`v-if expression cannot be empty.`);
                }
                const parent = el.parentElement;
                const anchor = new Comment('v-if');
                parent.insertBefore(anchor, el);
                const branches = [];
                branches.push({
                    el,
                    exp,
                });
                let next = null;
                while((next = el.nextElementSibling)) {
                    if (next.hasAttribute('v-else-if')) {
                        branches.push({
                            el: next,
                            exp: next.getAttribute('v-else-if'),
                        });
                        parent.removeChild(next);
                        next.removeAttribute('v-else-if');
                    } else if (next.hasAttribute('v-else')) {
                        branches.push({
                            el: next,
                        });
                        parent.removeChild(next);
                        next.removeAttribute('v-else');
                    } else {
                        break;
                    }
                }
                const nextNode = el.nextSibling;
                parent.removeChild(el);
                const removeActiveBlock = () => {
                    if (activeBranchEl) {
                        parent.insertBefore(anchor, activeBranchEl);
                        parent.removeChild(activeBranchEl); // 先删除当前渲染的分支节点
                    }
                }
                ctx.effect(() => {
                    for (let i = 0; i < branches.length; i++) {
                        const { exp, el: branchEl } = branches[i];
                        if (!exp /*v-else*/ || createFunc(exp)(ctx.scope)) {
                            if (i !== activeBranchIndex) {
                                removeActiveBlock();
                                parent.insertBefore(branchEl, anchor);
                                parent.removeChild(anchor);
                                activeBranchIndex = i;
                                activeBranchEl = branchEl;
                            }
                            return;
                        }
                    }
                    activeBranchIndex = -1;
                    removeActiveBlock();
                });
                return nextNode;
            }
            function _for() {

            }
            // 所有内置指令集合，目前就只有on
            const builtInDirectives = {
                on,
                if: _if,
                for: _for,
            };
            const modifierRE = /\.([\w-]+)/g;
            function processDirective(el, raw, exp, ctx) {
                let dir = null; // 指令名
                let arg = null; // 指令参数
                let modifiers = null; // 指令所有的修饰符
                let modMatch = null;
                while((modMatch = modifierRE.exec(raw))) { // 提取出事件修饰符，@click.a.b => { a: true, b: true }
                    // (modifiers || (modifiers = {}))[modMatch[1]] = true; petite-vue源码
                    // raw = raw.slice(0, modMatch.index); petite-vue源码
                    if (!modifiers) {
                        modifiers = {};
                    }
                    modifiers[modMatch[1]] = true;
                }
                raw = raw.includes('.') ? raw.slice(0, raw.indexOf('.')) : raw;
                if(raw[0] === ':') {
                    // bind指令，暂时未实现
                }
                if (raw[0] === '@') {
                    dir = on;
                    arg = raw.slice(1);
                } else { // v-xx形式的指令
                    const argIndex = raw.indexOf(':');
                    const dirName = argIndex > 0 ? raw.slice(2, argIndex) : raw.slice(2);
                    dir = builtInDirectives[dirName] || ctx.dirs[dirName] /*自定义指令*/;
                    arg = argIndex > 0 ? raw.slice(argIndex + 1) : undefined;
                }
                if (dir) {
                    applyDirective(el, dir, exp, ctx, arg, modifiers);
                    el.removeAttribute(raw);
                } else {
                    console.error(`unknown custom directive ${raw}.`);
                }
            }

            function applyDirective(el, dir, exp, ctx, arg, modifiers) {
                const get = (e = exp) => createFunc(e)(ctx.scope);
                dir({
                    el,
                    get,
                    effect: ctx.effect,
                    ctx,
                    exp,
                    arg,
                    modifiers,
                });
            }
            function walkChildren(node, context) {
                let child = node.firstChild;
                while(child) {
                    walk(child, context);
                    child = child.nextSibling;
                }
            }
            let activeEffect = null;
            const effectStack = [];
            function createReactiveEffect(fn) {
                function reactiveEffect() {
                    activeEffect = fn;
                    effectStack.push(fn);
                    fn();
                    effectStack.pop();
                    activeEffect = effectStack[effectStack.length - 1];
                }
                reactiveEffect.lazy = false;
                return reactiveEffect;
            }
            const targetMap = new WeakMap();
            function trigger(target, key) {
                const m = targetMap.get(target);
                const effects = m.get(key);
                effects.forEach((effect) => {
                    effect && effect();
                });
            }
            function reactive(target) {
                const proxy = new Proxy(target, {
                    get(target, key) {
                        const m = targetMap.get(target);
                        if (!m.has(key)) {
                            m.set(key, new Set());
                        }
                        const depMap = m.get(key);
                        depMap.add(activeEffect);
                        const result = Reflect.get(...arguments);
                        return result;
                    },
                    set(target, key, value) {
                        const result = Reflect.set(...arguments);
                        trigger(...arguments);
                        return result;
                    },
                });
                targetMap.set(target, new Map());
                return proxy;
            }
            function createContext(scope) {
                return {
                    scope: reactive(scope),
                    effects: [],
                    dirs: {},
                    effect(fn, options) {
                        const reactiveEffect = createReactiveEffect(fn);
                        if (!reactiveEffect.lazy) {
                            reactiveEffect();
                        }
                        this.effects.push(reactiveEffect);
                    }
                }
            }
            const PetiteVue = {
                createApp(scope = {}) {
                    const appContent = createContext(scope);
                    const app = {
                        context: appContent,
                        mount() {
                            const root = document.querySelector('[v-scope]');
                            if (!root) {
                                console.warn('请提供有v-scope属性的html标签');
                                return;
                            }
                            root.removeAttribute('v-scope');
                            walk(root, appContent);
                            
                        }
                    };
                    return app;
                }
            };
        </script>
        <script>
            PetiteVue.createApp({
                open: true,
                list: [{id: 1, name: 'a'}, {id: 2, name: 'b'}]
            }).mount();
        </script>
    </body>
</html>